openapi: 3.0.0
info:
  title: Cakradana Core API
  description: |
    Cakradana adalah sistem berbasis AI untuk mendeteksi risiko dan meningkatkan transparansi pembiayaan pemilu melalui analisis real-time, OCR, web scraping, dan visualisasi jaringan donasi.
    
    ## Features
    - User authentication with email and OAuth
    - Digital form donation processing
    - Paper form OCR processing  
    - Web scraping capabilities
    - Real-time risk detection and analysis
  version: 1.0.0
  contact:
    name: Cakradana Development Team
    email: dev@cakradana.faizath.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://cakradana-api.faizath.com
    description: Production Server
  - url: http://localhost:8080
    description: Local Development Server

security:
  - BearerAuth: []

paths:
  /user/auth/email/login:
    post:
      tags:
        - Authentication
      summary: Email Login
      description: Authenticate user with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: dev@cakradana.faizath.com
              password: testtest
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/auth/email/register:
    post:
      tags:
        - Authentication
      summary: Email Registration
      description: Register new user with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              email: dev@cakradana.faizath.com
              password: testtest
              name: "Developer User"
              type: "individual"
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or user already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/auth/refresh-token:
    get:
      tags:
        - Authentication
      summary: Refresh Access Token
      description: Refresh the user's access token using existing valid token
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/auth/email/forgot-password:
    post:
      tags:
        - Authentication
      summary: Request Password Reset
      description: Send password reset email to user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
            example:
              email: dev@cakradana.faizath.com
      responses:
        '200':
          description: Password reset email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid email or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/auth/email/change-password:
    put:
      tags:
        - Authentication
      summary: Change Password
      description: Change user password using reset token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
            example:
              password: newpassword123
              token: <the token from the password-reset email>
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid token or password requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/digital-form/input:
    post:
      tags:
        - Digital Form Services
      summary: Add Digital Form Donations
      description: |
        Submit multiple donation records from digital forms. This endpoint processes 
        donation data and automatically updates the entity network for risk analysis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DigitalFormDonation'
            example:
              - sender: "Orang A"
                sender_type: "individual"
                receiver: "Parpol B"
                receiver_type: "political-party"
                date: "2025-07-30"
                amount: 2000000
              - sender: "Orang B"
                sender_type: "individual"
                receiver: "Parpol C"
                receiver_type: "political-party"
                date: "2025-07-30"
                amount: 2000000
      responses:
        '200':
          description: Digital form donations processed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          donations:
                            type: array
                            items:
                              $ref: '#/components/schemas/DigitalFormDonation'
        '400':
          description: Invalid input data or user not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/paper-form/input:
    post:
      tags:
        - Paper Form Services
      summary: Process Paper Form Documents via OCR
      description: |
        Upload images of paper forms to extract donation data using OCR.

        Asynchronous: the response is a job handle, not the extraction result. A
        ten-page scan is ten OCR passes and ten model calls, and holding the
        connection open for that ties the upload's success to a proxy's idle
        timeout — the work completes, the connection is already gone, and the
        uploader is told it failed. They upload again, and deduplication is the
        only thing standing between that and doubled records.

        A 202 means accepted. Nothing has been ingested at the point it is
        returned; poll the job for progress and the outcome.
      parameters:
        - in: query
          name: lang
          schema:
            type: string
            enum: [eng, ind]
            default: ind
          description: OCR language to use for text recognition
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Images of paper forms to process
              required:
                - images
      responses:
        '202':
          description: |
            Accepted for processing. Carries the job id and the URL to poll;
            nothing has been ingested yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: No images uploaded or user not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: OCR processing error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/web-scrape/input:
    post:
      tags:
        - Web Scraping Services
      summary: Extract Donations from Web Pages
      description: |
        Scrape donation information from web pages using AI-powered content extraction.
        Provides URL to scrape and returns extracted donation data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebScrapeRequest'
            example:
              url: "https://example.com/donations-page"
      responses:
        '200':
          description: Web scraping completed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            description: The URL that was scraped
                          donations:
                            type: array
                            items:
                              $ref: '#/components/schemas/ExtractedDonation'
        '400':
          description: Invalid URL, failed to fetch, or user not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Web scraping error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/list:
    get:
      tags:
        - Donation Management
      summary: Get All Donations List
      description: |
        Retrieve all donations from all sources (digital forms, paper forms, web scraping).
      responses:
        '200':
          description: Donations list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DonationRecord'
        '400':
          description: User not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/entities:
    get:
      tags:
        - Donation Management
      summary: Get All Donation Entities
      description: |
        Retrieve all entities (senders and receivers) from all donations.
        Useful for network analysis and risk detection.
      responses:
        '200':
          description: Entities list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DonationEntity'
        '400':
          description: User not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/list-as-sender:
    get:
      tags:
        - Donation Management
      summary: Get Donations Where User is Sender
      description: |
        Retrieve all donations where the authenticated user is the sender.
        Includes confirmation status from both sender and receiver.
      responses:
        '200':
          description: Donations as sender retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DonationRecord'
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/list-as-receiver:
    get:
      tags:
        - Donation Management
      summary: Get Donations Where User is Receiver
      description: |
        Retrieve all donations where the authenticated user is the receiver.
        Includes confirmation status from both sender and receiver.
      responses:
        '200':
          description: Donations as receiver retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DonationRecord'
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/confirm-as-sender:
    post:
      tags:
        - Donation Management
      summary: Confirm Donation as Sender
      description: |
        Confirm a donation where the authenticated user is the sender.

        Records that the transaction took place. It deliberately carries no
        risk verdict: a donation split across many nominal donors is genuinely
        received, and its recipient confirms it truthfully — so admitting a
        confirmation as a clean label would teach a model that verified
        splitting is fine. Only an analyst disposition or an adjudicated
        dispute can say a donation is low risk.

        The confirmation names the party that gave it, so that this side and
        the receiver confirming are counted as two accounts of the transaction
        rather than one party confirming twice.

        A donation this account is not party to is refused with the same
        response as one that does not exist, so the endpoint cannot be used to
        discover which donation ids are held.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmDonationRequest'
            example:
              donationId: "688b2f20f0acbf5985e32700"
      responses:
        '200':
          description: Recorded that this donation occurred
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OccurrenceConfirmation'
        '400':
          description: Invalid request or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Donation not found or user is not the sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/confirm-as-receiver:
    post:
      tags:
        - Donation Management
      summary: Confirm Donation as Receiver
      description: |
        Confirm a donation where the authenticated user is the receiver.

        Records that the transaction took place. It deliberately carries no
        risk verdict: a donation split across many nominal donors is genuinely
        received, and its recipient confirms it truthfully — so admitting a
        confirmation as a clean label would teach a model that verified
        splitting is fine. Only an analyst disposition or an adjudicated
        dispute can say a donation is low risk.

        The confirmation names the party that gave it, so that this side and
        the sender confirming are counted as two accounts of the transaction
        rather than one party confirming twice.

        A donation this account is not party to is refused with the same
        response as one that does not exist, so the endpoint cannot be used to
        discover which donation ids are held.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmDonationRequest'
            example:
              donationId: "688b2f20f0acbf5985e32700"
      responses:
        '200':
          description: Recorded that this donation occurred
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OccurrenceConfirmation'
        '400':
          description: Invalid request or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Donation not found or user is not the receiver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/occurred-as-sender:
    post:
      tags:
        - Donation Management
      summary: Record that a donation occurred (sender)
      description: |
        Records that the authenticated user, as sender, confirms the transaction
        took place.

        This establishes **occurrence only**. It is not a statement that the
        donation is low risk, and it never becomes one: a donation split across
        many nominal donors is genuinely received, and its recipient confirms it
        truthfully. Treating confirmations as clean labels would train the model
        that verified splitting is legitimate.

        A risk verdict comes from `/service/donations/disposition` or
        `/service/donations/dispute-outcome`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OccurrenceRequest'
      responses:
        '200':
          description: Occurrence recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/occurred-as-receiver:
    post:
      tags:
        - Donation Management
      summary: Record that a donation occurred (receiver)
      description: |
        As `/service/donations/occurred-as-sender`, for the receiving party.
        Records occurrence only; it carries no risk verdict.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OccurrenceRequest'
      responses:
        '200':
          description: Occurrence recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/disposition:
    post:
      tags:
        - Donation Management
      summary: Record an analyst's judgement about a donation
      description: |
        Records a human verdict on a donation. These are the labels the model is
        measured against; agreement with the behavioural heuristics the model
        trained on is not a success metric.

        A later disposition supersedes an earlier one without deleting it, so
        the history of what was decided and when stays reconstructible.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispositionRequest'
      responses:
        '200':
          description: Disposition recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request or unrecognised value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/dispute-outcome:
    post:
      tags:
        - Donation Management
      summary: Record the outcome of a contested attribution
      description: |
        The strongest label available, because the matter was investigated and
        resolved. An upheld dispute is also a correction to the record and marks
        the donation for re-scoring, so the correction propagates instead of
        leaving the original error in every total that used it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeOutcomeRequest'
      responses:
        '200':
          description: Outcome recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/queue:
    get:
      tags:
        - Donation Management
      summary: Review queue
      description: |
        Donations awaiting human review, most pressing first.

        Statutory findings are ordered above behavioural scores rather than
        interleaved with them by magnitude. A breach of a stated limit is a fact
        with an article behind it; a behavioural score is an estimate, and
        ranking one against the other would put the estimate above the fact.

        Each item carries the rules that could not be evaluated. A donation with
        no findings and several unevaluated rules has been partly examined, not
        cleared.
        The queue is cut to the configured review budget — how many donations a
        team can process in a period — and reports it. A page of fifty is
        otherwise indistinguishable from a queue of fifty, and the difference is
        the whole basis of a precision-at-budget figure.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 500
          description: Defaults to the configured review budget
        - name: tier
          in: query
          required: false
          schema:
            type: string
            enum: ['1', '2']
          description: |
            `1` selects donations carrying a statutory finding; `2` selects
            those with none. A donation that breaches a limit is a legal matter
            first, so it does not appear in the behavioural queue where the fact
            would be buried under the estimate.
        - name: lane
          in: query
          required: false
          schema:
            type: string
            enum: [classifier, graph, anomaly, reputation]
          description: Lanes that ran and contributed, not lanes that were configured
        - name: band
          in: query
          required: false
          schema:
            type: string
            enum: [low, moderate, high, critical]
        - name: min_score
          in: query
          required: false
          schema:
            type: integer
        - name: electoral_context
          in: query
          required: false
          schema:
            type: string
        - name: district
          in: query
          required: false
          schema:
            type: string
          description: Served through the electoral context, which is where the data model holds it
        - name: recipient
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Review queue, with the budget it was cut to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/bulk-clear:
    post:
      tags:
        - Donation Management
      summary: Clear a set of donations sharing one cause
      description: |
        The recorded reason is the point. A hundred donations cleared one at a
        time are a hundred unrelated judgements; the same hundred cleared
        together with "recurring monthly transfer from a registered party
        branch" is one diagnosable signal that something in the detection is
        systematically wrong.

        The labels share a bulk id so the set stays recoverable afterwards.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkClearRequest'
      responses:
        '200':
          description: Dispositions recorded, with any ids that did not exist named
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing reason, empty set, or no person identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/case/{donationId}:
    get:
      tags:
        - Donation Management
      summary: Everything needed to judge one donation
      description: |
        A review step that shows a score and an approve button is automation
        with a signature attached: there is nothing to review, only a number to
        agree with.

        This assembles the evidence before anyone is asked to decide — the
        parties and how firmly each identity is held, the provenance of every
        field with the text quoted from its source, the statutory findings and
        the rules that could not be evaluated, the behavioural reasons, the
        neighbourhood the donation sits in, comparable donations against which a
        figure becomes readable, and everything anyone has already said about
        it.

        Both the neighbourhood and the comparables are bounded, and both report
        their bounds. A neighbourhood silently showing fifty of four hundred
        flows would let an analyst conclude a donor is peripheral when they are
        central.
      parameters:
        - name: donationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Case detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/jobs:
    get:
      tags:
        - Jobs
      summary: List background jobs
      parameters:
        - name: kind
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [queued, running, succeeded, partially_succeeded, failed]
        - name: mine
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
      responses:
        '200':
          description: Jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/jobs/{jobId}:
    get:
      tags:
        - Jobs
      summary: Progress and outcome of one job
      description: |
        Progress is reported as work is done, not only on completion. A job that
        reports nothing until it finishes is indistinguishable from one that has
        hung.

        `partially_succeeded` is a real state: a batch where two of ten pages
        were unreadable succeeded at eight and failed at two, and both halves
        are reported.

        A job interrupted by a restart is marked failed rather than left
        claiming to be running. The first invites re-uploading; the second
        invites waiting indefinitely.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/monitoring/registers:
    get:
      tags:
        - Operations
      summary: Whether the reference lists the rules depend on are usable
      description: |
        A register that quietly stopped being refreshed raises nothing. The
        rules that depend on it return indeterminate, the queue simply stops
        containing that kind of finding, and from outside it looks exactly like
        a population in which nobody is a prohibited source. Nothing else in
        this system shows the difference.

        "Never supplied" and "expired" are reported as the same kind of problem
        because the rules treat them identically. Each unusable register names
        which findings will not be raised while it stays that way.

        When the scoring service cannot be reached this reports unavailable
        with a reason, never an empty list of healthy registers — an empty list
        here is the absence of an answer, not a clean bill of health.
      responses:
        '200':
          description: Register freshness, or that it could not be established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/identifiers/status:
    get:
      tags:
        - Identifiers
      summary: Whether this deployment can hold identifiers
      description: |
        Discloses nothing about any person. Reported rather than left to be
        inferred from an error on first use: a deployment that cannot store
        identifiers resolves entities on names alone, which is a materially
        weaker basis and one an operator should know about before it matters.
      responses:
        '200':
          description: Identifier storage status
        '403':
          description: Not permitted for this role

  /service/identifiers:
    post:
      tags:
        - Identifiers
      summary: Record an identifier for an entity
      description: |
        The value is encrypted and held in its own collection. What reaches the
        entity document is the surrogate this returns, and the entity schema
        refuses anything that is not one — so a later caller cannot quietly put
        a number in its place.

        Refused with 503 when the deployment has no key. There is no fallback
        to storing the value in the clear: a failure to protect something must
        not present as having stored it safely.

        Refused with 409 when the identifier is already recorded against a
        different entity. That is the strongest evidence this system can have
        that two records are one person, and is a resolution decision rather
        than something to record twice.

        Not waivable by `ENFORCE_ROLES`: a value held is a value that can leak.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, scheme, value]
              properties:
                entity_id:
                  type: string
                scheme:
                  type: string
                  enum: [nik, npwp, passport, company-registration, party-registration]
                value:
                  type: string
                  description: |
                    The identifier. Punctuation is normalised away, so one
                    number written two ways is one identifier.
                validated_against:
                  type: string
                  nullable: true
                  description: |
                    The register the value was checked against, if any. An
                    unvalidated identifier is somebody's claim about themselves.
      responses:
        '201':
          description: Identifier recorded
        '200':
          description: Already recorded for this entity
        '400':
          description: Missing actor, entity, scheme, or value
        '403':
          description: Not permitted for this role, whether or not enforcement is on
        '404':
          description: No such entity
        '409':
          description: Already recorded against another entity, or the entity was merged away
        '503':
          description: No key configured; the value is refused rather than stored unprotected

  /service/identifiers/match:
    post:
      tags:
        - Identifiers
      summary: Whether any entity holds this identifier
      description: |
        Answers the question resolution actually asks without disclosing
        anything: the caller supplies a value they already hold and learns
        whether the system knows it, never the other way round. The value is
        not echoed, and matching happens on a keyed hash rather than the value.

        Separate from reading on purpose. Deciding whether two records describe
        one person is the common operation; keeping it in the same call as
        reading would make every match a disclosure.

        Still recorded, because a caller enumerating identifiers to discover
        which exist does so one request at a time, and that pattern is only
        visible in a log.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheme, value]
              properties:
                scheme:
                  type: string
                value:
                  type: string
      responses:
        '200':
          description: Whether the identifier is known, and to which entity
        '400':
          description: Missing actor, scheme, or value
        '403':
          description: Not permitted for this role, whether or not enforcement is on

  /service/identifiers/{ref}/reveal:
    post:
      tags:
        - Identifiers
      summary: Read an identifier value
      description: |
        The one call that is a disclosure, and the rare one. A reason is
        required and cannot be defaulted: a log of reads nobody had to justify
        records who looked and not why, and only the second is any use when the
        question is whether a disclosure should have happened.

        The read is written to the entity's access record and is disclosable to
        the subject. An attempt against a surrogate that does not exist is
        recorded too, so somebody probing leaves a trace.

        Not waivable by `ENFORCE_ROLES`: a value read cannot be un-read, so
        there is no shadow-mode version of it.
      parameters:
        - name: ref
          in: path
          required: true
          schema:
            type: string
          description: The surrogate held on the entity document.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: The identifier value, with its disclosure recorded
        '400':
          description: Missing actor or reason
        '403':
          description: Not permitted for this role, whether or not enforcement is on
        '404':
          description: No such identifier

  /service/identifiers/entity/{id}:
    get:
      tags:
        - Identifiers
      summary: What an entity is identified by, without the values
      description: |
        The safe view, and the one nearly everything wants: whether a party is
        identified at all, by what, and whether anybody checked. The identity
        basis shown on the network view, the case bundle, and the report draft
        is this question, and none of them needs a number to answer it.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The schemes held, their surrogates, and their validation state
        '403':
          description: Not permitted for this role

  /service/monitoring/model-health:
    get:
      tags:
        - Operations
      summary: What the model is doing in production
      description: |
        Proxied from the scoring service, which must not be reachable from a
        browser: it accepts donation records and returns judgements about named
        people, and exposing it publicly so a dashboard can read one endpoint
        would be a poor trade.

        Degrades honestly. When the scoring service cannot be reached the
        response is 200 with `available: false` and the reason, rather than
        zeros — a dashboard showing zero lanes running is indistinguishable
        from a system where nothing runs, and only one of those is an
        emergency.

        Recall is reported as unavailable with its reason. It needs a reviewed
        random sample of unflagged donations and cannot be derived from scoring
        events, which describe only what the system surfaced.
      parameters:
        - name: window_days
          in: query
          required: false
          schema:
            type: integer
            default: 30
        - name: review_budget
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Model health, or a stated inability to obtain it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/monitoring/alerts:
    get:
      tags:
        - Operations
      summary: Structural clusters from the last detection pass
      description: |
        Group alerts describe a set of donations rather than one. They are not
        published and are not part of the public dataset: a cluster is a
        hypothesis about a set of people, and one nobody has looked at should
        not leave the review surface.
      responses:
        '200':
          description: Alerts, or a stated inability to obtain them
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/monitoring/resilience:
    get:
      tags:
        - Operations
      summary: What this deployment promises about surviving an incident
      description: |
        The availability target, the recovery point objective, and the recovery
        time objective, each with the reasoning that makes it defensible and
        what would have to change before it could be tightened. Served together
        with the current position — how old the last verified backup is — since
        an objective nothing measures against cannot be breached, which is not
        the same as being met.

        The numbers describe the deployment that exists: one MongoDB process and
        one API container, with no replica set, no standby, and no automated
        failover. The reply says so explicitly under `notCovered`, because the
        gap between "there are backups" and "we can recover" is where recovery
        plans usually fail, and leaving it unmentioned does not close it.

        `legacySingleton` reports how much of the legacy document exists nowhere
        else — rows written before the canonical collections existed, which the
        backfill has not yet moved. Above zero it is the only copy of those
        donations, so a backup that omitted it would lose them and a backfill run
        afterwards would find an empty document and report "nothing to move".
        Measured rather than assumed, because both answers are wrong at
        different times.

        Carries no donation content.
      responses:
        '200':
          description: Objectives, the backup set, and the current recovery position
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public/aggregates:
    get:
      tags:
        - Public
      summary: Published donation aggregates
      description: |
        Covers **closed quarters only**. The quarter in progress is not
        published at all: its figures change with every donation admitted, and
        an observer polling across releases watches a cell gain one donor and
        one amount, which discloses that donation to within the rounding
        against a named recipient — the leak the five-donor threshold exists to
        prevent, reached by subtraction rather than directly.

        A published figure is never revised in place, for the same reason.
        When the records behind a cell change, the published figures stay and
        the cell reports `revision_pending`, so a reader is not shown a changed
        number with no way to tell it changed.

        `period` must be a quarter (`YYYY-Qn`) and `electoral_context` a plain
        label. Both are validated rather than passed through: this is the one
        route with no token in front of it, and an object where a value goes
        reaches the database as an operator.

        Served only from a separately materialised collection, never by
        filtering the operational store at request time. A query-time path is
        one filter bug away from publishing risk scores about named people, and
        that is not recoverable by fixing the filter afterwards.

        Cells with fewer than five distinct donors are published as suppressed
        rather than omitted: a cell that vanishes reads as an absence of
        donations, when it is an absence of publishable detail. Totals are
        rounded, which blunts differencing between releases.

        Never included: risk scores at any granularity, unconfirmed flags,
        structural alerts, or anything about a private individual.
      security: []
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
          description: Calendar quarter, e.g. 2026-Q2
        - name: electoral_context
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 200
            maximum: 1000
      responses:
        '200':
          description: Aggregates, with the time they were built and what they exclude
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /public/operations:
    get:
      tags:
        - Public
      summary: How the system itself is running
      description: |
        Volumes and dispute rates. These say nothing about any person and are
        the figures by which an outside reader can judge whether the system
        works — including the upheld-dispute rate, which is the one that would
        embarrass it if it were high, and is here for that reason.

        Materialised on the same schedule as the aggregates and served from
        that record, not counted per request. Counting live meant collection
        scans on an unauthenticated, uncached route; it also made the donation
        count a feed, since polling it at single-record granularity says when
        records were ingested and how many.

        `published: false` means no dataset has been built. That is distinct
        from a system holding nothing, which zeroes would have claimed.
        `materialised_at` is when these figures were counted — they are as
        fresh as the last build and no fresher.

        `dispute_upheld_rate` is null when no dispute has been raised. A rate
        over no disputes is unmeasured, not zero; reporting zero would claim
        nothing has ever been contested successfully.

        `published_dataset` says whether there is a published dataset and when
        it was last built. An empty cell list at `/public/aggregates` has three
        quite different causes — nothing has ever been built, the last build
        produced no publishable cell, or the builds have been failing and the
        figures on offer are old — and the aggregates endpoint cannot tell them
        apart from the cells alone. A reader quoting those figures needs to know
        which it is.
      security: []
      responses:
        '200':
          description: Operation statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /health:
    get:
      tags:
        - Operations
      summary: Whether the process is running
      description: |
        Touches nothing. A liveness probe that queries the database restarts the
        process whenever the database is slow, which is the moment a restart
        helps least.
      security: []
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /ready:
    get:
      tags:
        - Operations
      summary: Whether the service can handle a request
      description: |
        Distinct from liveness: a process can be running and unable to serve
        anything. Readiness here means the database is connected.

        The scoring service is reported but does not affect readiness.
        Ingestion is designed to continue while scoring is down, with donations
        stored and their scores outstanding — refusing traffic because a
        downstream is unavailable would turn a degraded system into an offline
        one and lose the records that were arriving.

        Whether identifiers can be held at all is reported as
        `identifier_storage`, and on the same terms. Its absence is the one
        degradation here that produces no error: the store refuses every value,
        entity resolution falls back to matching names, and everything
        downstream goes on working on a materially weaker basis for every rule
        that accumulates across records. When it is absent,
        `identifier_storage_consequence` states that in the response rather
        than leaving it to be discovered.

        The recovery position is reported on the same terms under `recovery`:
        the declared RPO and RTO, and how old the last verified backup is. A
        stale backup is a serious problem and is not improved by taking the
        service out of rotation, which would stop the ingestion whose records
        are the thing at risk.
      security: []
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '503':
          description: Not ready, with which dependency is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /metrics:
    get:
      tags:
        - Operations
      summary: Operational metrics in Prometheus text format
      description: |
        Counts and rates, never records. The figures are the ones whose silent
        drift is dangerous rather than the ones easiest to collect: a quarantine
        share climbing from 2% to 40% means an upstream form changed and most of
        a filing period is being set aside, and it presents as an error
        nowhere.

        A scrape while the database is unreachable reports
        `cakradana_store_metrics_available 0` rather than reporting zeros, which
        would read as a system holding no donations.
      security: []
      responses:
        '200':
          description: Metrics
          content:
            text/plain:
              schema:
                type: string

  /service/cases:
    get:
      tags:
        - Cases
      summary: List cases
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, assembled, reported, closed]
        - name: assignee
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Cases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Cases
      summary: Open a case
      description: |
        Several donations and the parties to them, held together by an analyst's
        account of what connects them.

        The narrative is the part that matters. The system can say that
        twenty-three donations converged on one recipient in nine days; it
        cannot say why that deserves an authority's attention, and the sentence
        that says so has to come from a person who can be asked to defend it.

        Entities are derived from the donations rather than supplied, so a case
        cannot name a party to a transaction it does not contain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseRequest'
      responses:
        '201':
          description: Case opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing title, or no person identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Cases
      summary: Amend a case
      description: |
        Entities are recomputed from the donations each time rather than
        accumulated, so removing a donation removes the party it brought with
        it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [case_id]
              properties:
                case_id:
                  type: string
                narrative:
                  type: string
                  nullable: true
                donation_ids:
                  type: array
                  items:
                    type: string
                state:
                  type: string
                  enum: [open, assembled, reported, closed]
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: The case cannot advance in its current shape
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The case is closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/cases/{caseId}:
    get:
      tags:
        - Cases
      summary: Read a case
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/cases/{caseId}/report/draft:
    get:
      tags:
        - Cases
      summary: Draft a suspicious activity report from a case
      description: |
        Read-only, and refused for a case with no narrative. A report drawn from
        a set of donations with no account of what connects them is a formatted
        rendering of a score presented to an authority as an accusation.

        The draft states what it does not establish. Where any finding rests on
        fixture reference data rather than an authoritative register, the draft
        carries a blocking limitation and cannot be approved at all.

        The structure has not been reviewed against the receiving authority's
        current submission requirements, and every draft says so — a
        well-formatted document is exactly the kind of thing people assume has
        been checked.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Draft, with its limitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The case has no narrative
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/cases/report/approve:
    post:
      tags:
        - Cases
      summary: Approve a draft for manual submission
      description: |
        Approval is recorded; nothing is transmitted. This system has no route to
        any receiving authority and is not going to acquire one — an accusation
        of financial crime against a named person should leave the building by a
        deliberate human act, not as a side effect of a threshold.

        A draft carrying a blocking limitation is refused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [case_id, draft]
              properties:
                case_id:
                  type: string
                draft:
                  type: object
                note:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Approved for manual submission; not transmitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: The draft cannot be approved, with the reason
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/cases/{caseId}/audit:
    get:
      tags:
        - Cases
      summary: Everything done to this case, and by whom
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Audit trail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/quarantine:
    get:
      tags:
        - Quarantine
      summary: Records that could not be admitted
      description: |
        Quarantine only earns its place if somebody empties it. A record set
        aside with a reason and never looked at again is data loss with better
        bookkeeping — the donation is as absent from every total as if it had
        been dropped.

        Oldest first, because quarantine has a retention period and working
        newest-first would let the tail expire unread.

        Two clocks run on each record and they mean different things.
        `days_until_deleted` is the retention period. `review_by` is when the
        record should have been looked at, computed in working days when it was
        quarantined and stored on the record, so an overdue item is overdue in
        the data. Reporting only the first reads as a deadline and is not one.
      parameters:
        - name: resolved
          in: query
          required: false
          schema:
            type: string
            enum: ['true', 'false', all]
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum: [digital-form, paper-form, web-scrape, import]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Quarantined records, with both clocks and the overdue count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/quarantine/resubmit:
    post:
      tags:
        - Quarantine
      summary: Correct a quarantined record and re-ingest it
      description: |
        The corrected payload runs through the same validation that rejected it.
        A correction that does not actually fix the problem is quarantined again
        with the new reason, rather than admitted because a person vouched for
        it.

        Corrected fields are marked as human-corrected provenance on the way
        through: a value somebody typed is a different kind of evidence from a
        value read out of a document, and the difference has to survive into the
        record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quarantine_id, payload]
              properties:
                quarantine_id:
                  type: string
                payload:
                  type: object
                  description: The corrected record, in the same shape ingestion accepts
                note:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Corrected record admitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such quarantined record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: The corrected record still cannot be admitted, with the reason
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/quarantine/dismiss:
    post:
      tags:
        - Quarantine
      summary: Close a quarantined record without admitting it
      description: |
        For records that are genuinely not donations — a page header the
        extractor mistook for a row, a duplicate of something already held. The
        reason is required: a record closed with no explanation is
        indistinguishable from one dismissed because it was inconvenient.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quarantine_id, reason]
              properties:
                quarantine_id:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Dismissed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing reason, or no person identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such quarantined record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/entities/review:
    get:
      tags:
        - Entity Resolution
      summary: Near matches waiting for a person to decide
      description: |
        Entity resolution sets the accuracy ceiling of every cumulative rule.
        A donor whose name appears three ways is three donors, each under the
        limit, and the rule that exists to catch exactly that reports nothing.

        Ingestion refuses to merge a near match unattended and creates a
        separate entity so the donation is not lost. Until somebody decides,
        the two records are two donors — so the queue is ordered by soonest
        deadline, not newest, and the open count is reported as what it is: the
        number of donors currently being counted twice.

        Ingestion is open to any authenticated account, so one caller inventing
        a new spelling per submission could otherwise set this queue's order.
        Past a per-submitter cap, further reviews are still recorded — the pair
        may be genuine — but are marked `set_aside` and excluded from the
        headline overdue count, which is reported separately as
        `set_aside_from_one_submitter`.
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, merged, kept-separate]
            default: open
        - name: overdue
          in: query
          required: false
          description: Only reviews past their deadline
          schema:
            type: string
            enum: ['true']
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Reviews, soonest deadline first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/entities/review/{id}:
    get:
      tags:
        - Entity Resolution
      summary: What a person needs to decide one review
      description: |
        Both entities' donation histories are summarised, because the question
        is whether these are one donor and the strongest evidence is usually
        the pattern: the same recipient, adjacent dates, amounts that only make
        sense together.

        Each donation carries the raw text the source document actually held.
        The canonical name is this system's reading of that text and would beg
        the question being asked.

        The effect of each decision is stated, so a reviewer knows what they
        are deciding rather than only which button they are pressing.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The review, with both histories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/entities/review/{id}/merge:
    post:
      tags:
        - Entity Resolution
      summary: Record that the two names are one donor
      description: |
        Donations move to the surviving entity — the one that already existed,
        so that merging does not change which record other systems hold a
        reference to — and every derived figure either entity took part in is
        marked for re-scoring. A merge that repointed donations without marking
        the totals stale would leave findings computed against the split
        identity standing.

        The merged entity is retained with a pointer to the survivor rather
        than deleted. An incorrect merge is precisely what a subject would
        contest, and there is nothing to un-merge if one side is gone.

        A reason is required, and the actor comes from the token rather than
        the body: the merge record is what a subject contesting it is shown, so
        it has to be the one thing in the request the caller could not choose.

        Refused with 403 for an account without a reviewer role whether or not
        `ENFORCE_ROLES` is on. Shadow-mode enforcement is a sound trade for a
        read — the cost of being wrong is a log line — and this cannot be
        undone.

        Refused with 409 if either entity has already been merged into another
        record: repointing into a tombstone buries the donations a level deeper,
        and overwriting an existing merge pointer destroys the trail a subject
        contesting the earlier merge has to follow.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Merged, with what it cost downstream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing reason, or no person identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: |
            Not a reviewer. Refused whether or not role enforcement is enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Already decided, or an entity was merged away since this was raised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/entities/review/{id}/keep-separate:
    post:
      tags:
        - Entity Resolution
      summary: Record that the two names are different people
      description: |
        A reason is required in this direction too. Without one the outcome is
        indistinguishable from an untouched review.

        The decision sticks: a pair recorded as separate is matched in either
        direction on subsequent ingestion and its sighting count increments
        rather than a fresh review being raised.

        Refused with 403 for an account without a reviewer role whether or not
        `ENFORCE_ROLES` is on.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Kept separate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing reason, or no person identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Already decided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/disposition-alert:
    post:
      tags:
        - Donation Management
      summary: Disposition a structural alert as one finding
      description: |
        A fan-in of forty donations is one thing the system noticed, not forty.
        An analyst who decides it is a legitimate grassroots campaign has made
        one judgement, and recording it as forty unrelated dispositions loses
        the part worth keeping: that a cluster was examined as a cluster, by
        whom, and on what basis. It also corrupts the retraining signal, where
        forty independent clears look like forty pieces of evidence rather than
        one.

        Membership is read from the scoring service, never taken from the
        caller. A caller-supplied member list would let a disposition claim to
        cover a cluster while covering something else. If structural alerts are
        unavailable the request is refused rather than degraded into a bulk
        clear over whatever was sent.

        Members can be excepted individually, each with its own reason: a
        cluster is rarely homogeneous, and an analyst who accepts the pattern
        apart from two donations should not have to abandon the group
        judgement. An exception is marked as one, so it reads afterwards as a
        deliberate carve-out rather than an ordinary label that disagrees with
        its neighbours.

        Refused with 403 for an account without a reviewer role whether or not
        `ENFORCE_ROLES` is on: one call writes an analyst disposition onto every
        member of the cluster, which is the training signal and the review
        record at once.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [alert_id, reason]
              properties:
                alert_id:
                  type: string
                value:
                  type: string
                  default: not_risky
                reason:
                  type: string
                typology:
                  type: string
                  nullable: true
                except:
                  type: array
                  description: Members carved out of the cluster's disposition
                  items:
                    type: object
                    required: [donation_id, reason]
                    properties:
                      donation_id:
                        type: string
                      value:
                        type: string
                        default: risky
                      reason:
                        type: string
      responses:
        '200':
          description: One judgement recorded about a cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Missing reason, unknown value, or an exception outside the cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: |
            Not a reviewer. Refused whether or not role enforcement is enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such alert in the last detection pass
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Structural alerts unavailable, so the cluster cannot be established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/alert/{id}/disposition:
    get:
      tags:
        - Donation Management
      summary: What was decided about a cluster
      description: |
        Reads back the group judgement rather than the member labels. "Was this
        cluster examined, by whom, and what did they conclude" has an answer
        that a list of forty labels obscures.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The cluster's disposition, or that it has none
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/donations/network:
    get:
      tags:
        - Donation Management
      summary: The donation network as a graph
      description: |
        Nodes are entities, edges are donations. Findings attach to the edges
        they concern and never to a node: a statutory finding is a fact about a
        payment, and moving it onto a party would turn it into a label on a
        person.

        Bounded by edge count, and the bound is reported. A view silently
        showing the largest few hundred of many thousand flows would let an
        analyst conclude that a recipient has few donors when the opposite is
        true.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 750
            maximum: 750
      responses:
        '200':
          description: Donation network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes:
    post:
      tags:
        - Disputes
      summary: Contest an attribution
      description: |
        The route for a subject to say that a donation attributed to them is
        wrong. Donations enter this system from documents the attributed person
        never touched — a scan of somebody else's form, a scraped page — so an
        attribution can be made about someone who had no part in creating it.

        Raising a dispute does not change how the donation is scored. A design
        in which contesting an attribution increases suspicion is coercive and
        would make the remedy self-defeating.

        Open to any authenticated subject, deliberately not restricted to
        resolved parties: an attribution naming somebody in raw text and linked
        to no entity is exactly the case that most needs contesting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
      responses:
        '201':
          description: Dispute recorded, with its acknowledgement and resolution deadlines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request or unrecognised reason
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes/basis/{donationId}:
    get:
      tags:
        - Disputes
      summary: Why a donation is attributed as it is
      description: |
        What a subject is told about an attribution they are contesting: the
        values recorded, the source each was read from, and the text quoted from
        that source.

        Statutory findings are included, because they are facts with an article
        behind them. Behavioural estimates are not: they rank donations against
        each other for review and assert nothing about any person. The analyst's
        evidence bundle is also excluded — it holds third-party records, and
        handing it over would leak other people's data to whoever asks about
        their own.
      parameters:
        - name: donationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Basis for the attribution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes/queue:
    get:
      tags:
        - Disputes
      summary: Disputes awaiting adjudication
      description: |
        Ordered by how close each item is to breaching its resolution deadline
        rather than by arrival, so the queue surfaces what is about to go wrong
        instead of what happens to be oldest.

        Elapsed time is reported in working days. The calendar figure flatters
        the wait by roughly a third, and this is a service-level number.
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, acknowledged, resolved, withdrawn]
        - name: assignee
          in: query
          required: false
          schema:
            type: string
        - name: unassigned
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Dispute queue with service-level status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes/acknowledge:
    post:
      tags:
        - Disputes
      summary: Acknowledge receipt of a dispute
      description: |
        Acknowledgement is its own obligation with its own deadline. A subject
        told nothing for three weeks has no way to distinguish a queue from a
        void.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id]
              properties:
                dispute_id:
                  type: string
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such dispute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes/assign:
    post:
      tags:
        - Disputes
      summary: Assign a dispute to an adjudicator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id, assignee]
              properties:
                dispute_id:
                  type: string
                assignee:
                  type: string
      responses:
        '200':
          description: Assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such dispute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/disputes/resolve:
    post:
      tags:
        - Disputes
      summary: Adjudicate a dispute
      description: |
        Records the outcome and, where the subject was right, corrects the
        record and marks every figure derived from it for re-scoring. Correcting
        the row while leaving the cumulative totals that used it untouched
        corrects nothing that matters.

        The correction applied is derived from the reason given, so upholding a
        dispute changes the specific thing that was wrong rather than adding a
        note about it.

        There is no path that resolves a dispute without naming the person
        resolving it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeResolutionRequest'
      responses:
        '200':
          description: Resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request, or no adjudicator identified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such dispute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/notifications:
    get:
      tags:
        - Notifications
      summary: Notices awaiting a human decision
      description: |
        A donation whose scoring produced statutory findings, or a high
        behavioural band, raises the question of whether the attributed party
        should be told. It is only a question: nothing is sent by the system,
        and a person decides both ways.

        The response states whether this deployment can deliver notices at all,
        because a queue of approved-but-undelivered notices means something
        different from a queue with nothing to send.
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [pending_decision, approved, withheld, delivered, failed]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Notification candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/notifications/preview/{notificationId}:
    get:
      tags:
        - Notifications
      summary: The notice as the subject would receive it
      description: |
        Readable before the decision rather than after it. Approving a notice
        without being able to read it is approval in name.

        The notice carries what was observed, the source it was read from, the
        statutory findings with their articles, and the route to contest. It
        carries no behavioural score: an estimate that ranks donations for
        review says nothing the system has standing to put to the person it
        concerns.
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Composed notice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No such notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service/notifications/decide:
    post:
      tags:
        - Notifications
      summary: Decide whether to tell the subject
      description: |
        Both outcomes are decisions and both are recorded with the name of
        whoever made them. Withholding is the one that most needs a record: a
        notice never sent leaves no trace of its own absence.

        Notification that would prejudice an active investigation is a
        legitimate reason to withhold, and is recorded as that reason rather
        than left as a silent gap.
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
